<?xml version="1.0"?>
<!-- control robot with xbox controller -->
<!-- args are defaulted for remote use-case -->

<launch>
  <arg name="joy_device" value="/dev/input/js0"/>
  <arg name="cmd_topic" default="/yocs_cmd_vel_mux/input/remote" doc="Topic to publish velocity commands to"/>

  <include file="$(find office_bot)/launch/hardware/joystick_teleop.launch" pass_all_args="true"/>

</launch>
