<?xml version="1.0"?>

<!-- Main launch file for office bot SLAM
 -->

<launch>
  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find office_bot)/cfg
          -configuration_basename office_bot.lua"
      output="screen">
  </node>
</launch>
