<?xml version="1.0"?>

<!-- control red robot base with xbox controller -->

<launch>
  <arg name="joy_device" default="/dev/input/js0"/>
  <arg name="cmd_topic" default="cmd_vel" doc="Topic to publish velocity commands to"/>
  
  <node name="joy" pkg="joy" type="joy_node">
    <param name="dev" value="$(arg joy_device)"/> 
    <param name="autorepeat_rate" value="5"/>
  </node>  
  
  <node name="joy_to_twist" pkg="teleop_twist_joy" type="teleop_node">
    <param name="scale_angular" value="7"/> 
    <remap from="cmd_vel" to="$(arg cmd_topic)"/> 
  </node> 
  
  <!--include file="$(find red_robot_base)/launch/red_robot_driver.launch"/-->
  
</launch>
