<?xml version="1.0"?>
<launch>
    <!-- 
        Launch a base system, including
        - sensors/hardware drivers
        - urdf publishing
        - cmd_vel mux
        Such that the robot can moved around by joystick, and sensors can be visualised/logged.

        The system can be launched on the real robot, in gazebo sim, or as a bag playback
    -->

    <arg name="mode" default="physical_robot" doc="how to launch the system ('physical_robot', 'gazebo', or 'bag_playback')" />
    <arg name="gazebo_launch_name" default="office_bot_office_world.launch" doc="used only if mode=gazebo. Specifies which gazebo world lauch file to use for simulation (must reside under office_bot_gazebo/launch/)"/>
    <arg name="input_bag" default="" doc="used only if mode=bag_playback. Specifies path to bag to use for playback"/>
    
    <!--handle run-mode option-->
    <group>        
        <include if="$(eval mode == 'physical_robot')" file="$(find office_bot_base)/launch/base.launch"/>

        <include if="$(eval mode == 'gazebo')" file="$(find office_bot_gazebo)/launch/$(arg gazebo_launch_name)"/>

        <group if="$(eval mode == 'bag_playback')">
            <node if="$(eval mode == 'bag_playback')" name="log_playback" pkg="rosbag" type="play"
                args="$(arg input_log_file) --clock"/>
            <param name="use_sim_time" value="true"/>
        </group>
    </group>

    <include file="$(find office_bot_description)/launch/description.launch"/>
    <include file="$(find office_bot_base)/launch/cmd_vel_mux.launch"/>



</launch>
