<?xml version="1.0"?>
<launch>
    <include file="$(find office_bot)/launch/office_bot_hardware.launch"/>
    <include file="$(find office_bot_navigation)/launch/office_bot_nav.launch">
        <arg name="cmd_vel_topic" value="yocs_cmd_vel_mux/input/navigation"/>
    </include>
    
    <node name="tango_nav_adaptor" pkg="office_bot" type="tango_nav_adaptor.py"/>

    <node name="laser_filter" pkg="laser_filters" type="scan_to_scan_filter_chain">
        <rosparam command="load" file="$(find office_bot)/cfg/laser_range_filter.yaml"/>
        <remap from="scan" to="scan_unfiltered"/>
        <remap from="scan_filtered" to="scan"/>
    </node>

    <include file="$(find office_bot)/launch/cmd_vel_mux.launch"/>
</launch>
