<?xml version="1.0"?>

<!-- Launches drivers for officebot hardware (motors, camera, laser etc)
 -->

<launch>
    <!--arg name="chassis" default="red_robot" doc="which robot chassis to use"/-->
    <arg name="chassis" default="scooba" doc="which robot chassis to use"/>
    
    <!-- motor driver -->
    <include file="$(find red_robot_base)/launch/red_robot_driver.launch" if="$(eval chassis=='red_robot')"/>
    <include file="$(find scooba_base)/launch/scooba_driver.launch" if="$(eval chassis=='scooba')">
        <arg name="cmd_vel_topic" value="yocs_cmd_vel_mux/output/cmd_vel"/>
    </include>
    <include file="$(find kangaroo_x2_driver)/launch/diff_drive_control.launch" if="$(eval chassis=='kangaroo')">
        <arg name="model" value="$(find office_bot)/urdf/box_bot.xacro"/>
        <arg name="cmd_vel_topic" value="cmd_vel_boosted"/>
    </include>


    <!--include file="$(find office_bot)/launch/imu.launch"/-->
    <node name="camera" pkg="cv_camera" type="cv_camera_node">
        <param name="image_width" value="320"/>
        <param name="image_height" value="240"/>
        <param name="camera_info_url" value="package://office_bot/cfg/fisheyeCamCal.yaml"/>
    </node>

    <node name="laser" pkg="urg_node" type="urg_node">
        <remap from="scan" to="scan_unfiltered"/>
        <param name="calibrate_time" value="true"/>
        <param name="frame_id" value="laser_link"/>
    </node>

    <include file="$(find office_bot)/launch/joystick_teleop.launch">
        <arg name="cmd_topic" value="/yocs_cmd_vel_mux/input/joystick"/>
    </include>
    <param name="tango/publish_pose_on_tf" value="false"/>
</launch>
