<?xml version="1.0"?>

<!-- Launches drivers for officebot hardware (motors, camera, laser etc)
 -->

<launch>
    <arg name="chassis" default="red_robot" doc="which robot chassis to use"/>
    <!--arg name="chassis" default="kangaroo" doc="which robot chassis to use"/-->
    
    <!-- motor driver -->
    <include file="$(find red_robot_base)/launch/red_robot_driver.launch" if="$(eval chassis=='red_robot')"/>
    <include file="$(find kangaroo_x2_driver)/launch/diff_drive_control.launch" if="$(eval chassis=='kangaroo')">
        <arg name="model" value="$(find office_bot)/urdf/box_bot.xacro"/>
    </include>


    <include file="$(find office_bot)/launch/imu.launch"/>
    <node name="camera" pkg="cv_camera" type="cv_camera_node"/>
    <node name="laser" pkg="urg_node" type="urg_node">
        <param name="calibrate_time" value="true"/>
    </node>
</launch>
