<?xml version="1.0"?>
<launch>

  <!-- Run the map server -->
  <!--node name="map_server" pkg="map_server" type="map_server"
      args="$(find office_bot)/cfg/officeTangoMap.yaml"/-->  

  
  <!--- Run AMCL -->
  <!--node name="amcl" pkg="amcl" type="amcl" respawn="true">
    <param name="base_frame_id" value="base_link"/>
  </node-->

  <include file="$(find office_bot)/launch/office_bot_hardware.launch"/>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find office_bot)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find office_bot)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find office_bot)/cfg/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find office_bot)/cfg/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find office_bot)/cfg/base_local_planner_params.yaml" command="load" />
  </node>

</launch>
