<?xml version="1.0"?>
<launch>
    <!-- main launch file for office bot -->
    <!-- arg 'mode' can be used to switch between real-world, simulation and log playback modes -->

    <arg name="mode" default="physical_robot" doc="how to launch the system ('physical_robot', 'gazebo', 'no_base', or 'bag_playback')" />
    <arg name="gazebo_launch_name" default="office_bot_in_office_world.launch" doc="used only if mode=gazebo. Specifies which gazebo world lauch file to use for simulation (must reside under office_bot_gazebo/launch/)"/>
    <arg name="input_bag" default="" doc="used only if mode=bag_playback. Specifies path to bag to use for playback"/>
    <arg name="log_pf_inputs" default="false" doc="set true to record particle filter inputs for offline playback" />

    
    <!--handle run-mode options-->
    <group>   
        <group if="$(eval mode == 'physical_robot')" >
            <include file="$(find office_bot_base)/launch/base.launch"/>
            <param name="use_sim_time" value="false"/>
            <include file="$(find carpet_localisation)/launch/include/office_localisation.launch">
                <arg name="classifier_param_file" value="$(find carpet_localisation)/cfg/office_gmm_params.json" />
                <arg name="log_inputs" value="$(arg log_pf_inputs)"/>
                <arg name="odom_topic" value="odom_fused"/>
            </include>
            
        </group>

        <group if="$(eval mode == 'gazebo')">
            <include file="$(find office_bot_gazebo)/launch/$(arg gazebo_launch_name)"/>
            <param name="use_sim_time" value="true"/>
            <include file="$(find carpet_localisation)/launch/include/office_localisation.launch">
                <arg name="classifier_param_file" value="$(find carpet_localisation)/gazebo/carpet_world_gmm_model/gmm_params.json" />
                <arg name="subscribe_ground_truth" value="true"/>
                <arg name="log_inputs" value="$(arg log_pf_inputs)"/>
                <arg name="odom_topic" value="odom_fused"/>
            </include>
        </group>

        <group if="$(eval mode == 'bag_playback')">
            <node if="$(eval mode == 'bag_playback')" name="log_playback" pkg="rosbag" type="play"
                args="$(arg input_log_file) --clock"/>
            <param name="use_sim_time" value="true"/>

            <include file="$(find carpet_localisation)/launch/include/office_localisation.launch">
                <arg name="classifier_param_file" value="$(find carpet_localisation)/cfg/office_gmm_params.json" />
                <arg name="log_inputs" value="$(arg log_pf_inputs)"/>
                <arg name="odom_topic" value="odom_fused"/>
            </include>
        </group>

        <group if="$(eval mode == 'no_base')">
            <!-- do nothing -->
            <!-- this mode is for use when the base or simulation is already launched -->
        </group>
    </group>

    <!-- run-mode-independent systems: -->

    <group>
        <include file="$(find office_bot_description)/launch/description.launch"/>
        <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
            <remap from="cmd_vel_out" to="velocity_smoother/raw_cmd_vel"/>
            <rosparam file="$(find twist_mux)/config/twist_mux_locks.yaml"  command="load"/>
            <rosparam file="$(find twist_mux)/config/twist_mux_topics.yaml" command="load"/>
        </node>
        <include file="$(find office_bot)/launch/include/velocity_smoother.launch"/>


        <include file="$(find office_bot_navigation)/launch/office_bot_nav.launch"/>
    </group>



</launch>
