<?xml version="1.0"?>
<!-- simple test that a node can be set up on the remote machine
     If successful, will print 'data: "Blah blah"' repeatedly to console
 -->

<launch>
  <include file="$(find office_bot)/launch/pi_declaration.launch" />  
  <node 
    pkg="rostopic"
    type="rostopic"
    name="talker"
    args="pub /chatter std_msgs/String 'Blah blah' -r 1" 
    machine="raspberry-pi"
  />  
  <node pkg="rostopic" type="rostopic" name="listener" args="echo /chatter" output="screen"/>  
</launch>
