<?xml version="1.0"?>
<launch>
    <node pkg="cob_base_velocity_smoother" type="velocity_smoother" name="velocity_smoother">
        <rosparam command="load" file="$(find office_bot)/cfg/velocity_smoother.cfg"/>
        <remap from="velocity_smoother/smooth_cmd_vel" to="/cmd_vel"/>
    </node>
</launch>