<?xml version="1.0"?>

<launch>

  <arg name="world_name" value="$(find office_bot_gazebo)/worlds/office.world"/>
  <arg name="publish_localisation_tf" default="false" doc="if true, runs node to publish map-to-odom tf"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find office_bot_gazebo)/launch/spawn_office_bot.launch">
    <arg name="x" value="-4.75"/>
    <arg name="y" value="17.29"/>
    <arg name="z" value="0.1"/>
  </include>

  <!--include file="$(find office_bot_gazebo)/launch/spawn_office.launch"/-->
  
  <node pkg="office_bot_gazebo" type="gazebo_localisation.py" name="location_publisher" if="$(arg publish_localisation_tf)"/>

</launch>
