<?xml version="1.0"?>
<launch>
  
  <arg name="robot_namespace" default="office_bot"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!-- Spawn office bot in gazebo -->
  <node name="spawn_office_bot_model" pkg="gazebo_ros" type="spawn_model"
      args="-x $(arg x)
            -y $(arg y)
            -z $(arg z)
            -Y $(arg yaw)
            -unpause
            -urdf
            -param robot_description
            -model $(arg robot_namespace)" />

</launch>
