<?xml version="1.0"?> 
<launch>

  <arg name="patrol" default="true" doc="Set true to start office office patrol"/>

  <!-- serve global costmap -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find office_bot_navigation)/config/office_map.yaml"/>

  <!-- move the robot -->
  <include file="$(find office_bot_navigation)/launch/include/move_base.launch.xml">
    <arg name="cmd_vel_topic" value="nav_vel"/>
  </include>  

</launch>
