<?xml version="1.0"?> 
<launch>

  <arg name="patrol" default="true" doc="Set true to start office office patrol"/>

  <!-- use cartographer for odom -->
  <include file="$(find office_bot_navigation)/launch/include/cartographer_odom.launch"/>
  <node name="odom_blender" pkg="office_bot_navigation" type="odom_blender.py"/> -->

  <!-- serve global costmap -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find office_bot_navigation)/config/office_map.yaml">
    <remap from="map" to="wall_map"/>
  </node>

  <!-- move the robot -->
  <include file="$(find office_bot_navigation)/launch/include/move_base.launch.xml">
    <arg name="cmd_vel_topic" value="nav_vel"/>
  </include>  

</launch>
