<?xml version="1.0"?> 
<launch>

  <!-- Navigation parameter files -->
  <arg name="move_base_include" default="$(find office_bot_navigation)/launch/include/move_base.launch.xml" />
  <arg name="cmd_vel_topic" default="cmd_vel_mux/input/navigation"/>

  <arg name="map_yaml" default="$(find office_bot_navigation)/config/maps/office_map.yaml" doc="yaml file specifying the environment map" />

  <include file="$(find amcl)/examples/amcl_diff.launch" />

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_yaml)"/>

  <!-- move the robot -->
  <include file="$(arg move_base_include)">
    <arg name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
  </include>

  <!-- spam the patrol task -->
  <node name="goal_publisher" pkg="rostopic" type="rostopic" args="pub /nav_ctrl yocs_msgs/NavigationControl --file $(find office_bot_navigation)/config/startPatrolMsg.yaml" respawn="true" respawn_delay="10"/>

  <node name="waypoint_nav" pkg="yocs_waypoints_navi" type="yocs_waypoints_navi_node">
    <param name="goal_timeout" value="999999"/>
    <param name="robot_frame" value="base_link"/>
  </node>

  <node name="waypoint_provider" pkg="yocs_waypoint_provider" type="waypoint_provider">
    <param name="filename" value="$(find office_bot_navigation)/config/office_waypoints.yaml"/>
  </node>

  

</launch>
