<?xml version="1.0"?>

<!--
Macro to define a link, and a joint to that link from base_link.
If adjustable is set true, a set of intermediate links and joints will be
created to allow for live adjustment of roll/pitch/yaw. In this case the given 
values for rpy are ignored
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="optionally_adjustable_joint" params="link_name xyz:='0 0 0' rpy:='0 0 0' adjustable:=false">
                
        <xacro:if value="${adjustable == 'false'}">
            <!-- not adjustable - create a fixed joint from base -->
            <joint name="base_to_${link_name}" type="fixed">
                <parent link="base_link"/>
                <child link="${link_name}"/>
                <origin xyz="${xyz}" rpy="${rpy}"/>
            </joint>
        </xacro:if>
        
        <xacro:if value="${adjustable == 'true'}">
            <!-- adjustable - create a series of links and movable joints from base -->
            <xacro:include filename="$(find office_bot)/urdf/adjustable_joint.urdf.xacro" />
            <xacro:adjustable_joint link_name="${link_name}" xyz="${xyz}"/>
        </xacro:if>
        
    </xacro:macro>
</robot>
