<?xml version="1.0"?>

<!-- Launches drivers for officebot hardware (motors, camera, laser etc)
 -->

<launch>
    <arg name="odom_topic" default="odom" doc="topic name to which to publish odometry" />

    <include file="$(find office_bot_base)/launch/create_2.launch">
        <arg name="odom_topic" value="$(arg odom_topic)"/>
    </include>

    <node name="carpet_cam" pkg="cv_camera" type="cv_camera_node">
        <param name="device_path" value="/dev/fisheyeCamera"/>
        <param name="frame_id" value="carpet_camera_link"/>
        <param name="rate" value="20"/>
        <param name="image_width" value="320"/>
        <param name="image_height" value="240"/>
        <param name="camera_info_url" value="package://office_bot_base/cfg/fisheyeCamCal.yaml"/>
    </node>

    <node name="laser" pkg="urg_node" type="urg_node" respawn="true" output="screen">
        <param name="calibrate_time" value="true"/>
        <param name="frame_id" value="laser_link"/>
        <param name="ip_address" value="192.168.0.10"/>
        <param name="angle_min" value="-2.1"/>
        <param name="angle_max" value="2.1"/>
    </node>

    <param name="use_sim_time" value="false"/>

    <node name="my_name_is_earl" pkg="office_bot" type="myNameIsEarl.sh"/>


</launch>
