<?xml version="1.0"?>
<!-- launch file for irobot create2 chasis -->
<launch>
  <arg name="config" default="$(find ca_driver)/config/default.yaml" />
  <arg name="desc" default="true" />
  <arg name="cmd_vel_topic" default="cmd_vel" />

  <node name="ca_driver" pkg="ca_driver" type="ca_driver" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="robot_model" value="CREATE_2" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
  </node>

  <node name="my_name_is_earl" pkg="office_bot" type="myNameIsEarl.sh"/>

</launch>
