<?xml version="1.0"?>
<!-- launch file for irobot create2 chasis -->
<launch>
  <arg name="config" default="$(find create_bringup)/config/default.yaml" />
  <arg name="desc" default="true" />
  <arg name="cmd_vel_topic" default="cmd_vel" />

  <node name="create_driver" pkg="create_driver" type="create_driver" output="screen">
    <rosparam command="load" file="$(arg config)" />
    <param name="robot_model" value="CREATE_2" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
  </node>
</launch>
