<?xml version="1.0"?>
<!-- Main launch file for office bot
 -->

<launch>
  <include file="$(find office_bot)/launch/remote_laser.launch" />
  
  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find office_bot)/cfg/office_bot.rviz" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find office_bot)/cfg
          -configuration_basename office_bot.lua"
      output="screen">
  </node>
</launch>
